
.active{
  color: #F25E5E;
}



.container__form {
  width: 100%;
  padding-top: 30px;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  
}

.form__options{
  border: #426A8C solid 1px;
  padding: 1rem;
  border-radius: 15px;
}

.container__shortform {
  width: 450px;
  padding-top: 30px;
  display: block;
  margin: 0 auto;
  overflow: hidden;
}
.container__form--title {
  padding: 10px 0px 30px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 25px;
}


.container__form--subtitle {
  padding: 5px 0px 5px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
}

.container__form--body {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}


.formformat__body {
  width: 100%;
  display: inline-flex;
}

.column__left {
  display: block;
  max-width: 100%;
  min-width: 80%;
  justify-content: center;
  align-items: center;
}

.column__right {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-width: 30%;
  justify-content: center;
  align-items: center;
  border: #426A8C ;
  border-left-style: double;
  border-right-style: double;
}
.row__center{
  width: 100%;
  height: 100%;
}

.row {
  /* border: #426A8C;
  border-bottom-style: double; */
  border-bottom: #F25E5E  solid 1px;
  display: flex;
  padding: 20px 0px 10px 0px;
}

.center{
  justify-content: center;
  align-items: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.col--center {
  width: min-content;
  /* padding: 5px 10px 0px 0px; */
  display:block;
  margin: 0 auto;
}

.col {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 30px 0px 0px 0px ;
}

.p__field{
  height: 30px;
  font-size: 12px;
  padding-top: 5px;
}
.p__field--wrong{
  height: 30px;
  font-size: 12px;
  padding-top: 5px;
  opacity: 100%;
}

.col__select{
  display: flex;
  flex-direction: column;
  padding: 0px 20px 0px 0px;
}
.col__select--options{
  display: block;
}
.col__select--item{
  padding: 10px 5px 0px 2px;
} 
.label__title {
  font-size: 15px;
}

.select__field{
  min-width: 100px;
  border: 0px;
  border-bottom: #F25E5E  solid 1px;
  background-color: #FFFFFF;
  text-align: center;
}

.wrong{
  color: red;
  font-weight: bold;
  text-align: center;
}


/*------------------> BUTTON  <--------------------*/

.button__form {
  border-radius: 8px;
  background-color: #426A8C;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 25px;
  padding: 5px;
  width: 110px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button__form span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button__form span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button__form:hover span {
  padding-right: 25px;
}

.button__form:hover span:after {
  opacity: 1;
  right: 0;
}
.button__form--disabled{
  cursor: not-allowed;
  pointer-events: none;
  background-color: #64819b;
}

/* -------------------------- */

:root {
  --colorMC-Pink: #f25e5e;
  --colorMC-BlueDark: #426a8c;
  --colorMC-BlueLigth: #45718c;
}

/*
El standar que voy a usar para el CSS se llama BEM: https://css-tricks.com/bem-101/
tengo el componenete del bloque: 
    .btn{}
El elemento que depende del elemento del bloque
    .btn__price{}
y los modificadores a los cambios de ese bloque
    .btn--orange{}
    .btn--big{}
*/

.container-X2-Col {
  display: flex;
  margin-top: 25%;
}
.total--height {
  height: 100%;
}

.container-center {
  /* margin: 0 auto; */
  /* max-width: 600px; */
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}
.container-right {
  align-items: end;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 5px;
  /* justify-content: center; */
  /* margin: 0 auto; */
  /* max-width: 600px; */
  width: 50%;
}
.container-left {
  align-items: start;
  display: flex;
  flex-direction: column;
  padding: 5px;
  justify-content: right;
  height: 100%;
  /* margin: 0 auto; */
  /* max-width: 600px; */
  width: 50%;
}

.container__Login--tittle {
  display: flex;
  justify-content: center;
  color: #426a8c;
  border-bottom: #f25e5e 2px solid;
  margin: 0px 0px 10px 0px;
}
.center-tittle {
  max-width: 100%;
}

.fieldform {
  margin: 2px 0px 2px 0px;
  padding: 2px 0px 2px 0px;
}



.button {
  background-color: #45718c;
  color: white;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
}
.button:hover {
  background-color: #426a8c;
  color: black;
}



.input__spetialfieldform input {
  border: 0 solid;
  border-bottom: #f25e5e solid 0.2px;
  text-align: center;
  width: 100px;
} 

.input__field{
  border: 0px;
  border-bottom: #F25E5E  solid 1px;
  background-color: #FFFFFF;
  text-align: center;
}

.input__field--short{
  width: 30px;
  border: 0px;
  /* border-bottom: #F25E5E  solid 1px; */
  background-color: #FFFFFF;
  text-align: center;
}

.errormsg {
  font-weight: bold;
  color: red;
  font-size: 10px;
  padding: 5px;
  text-align: center;
}

@media screen and (max-width: 712px) {
  .container-X2-Col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .total--height {
    height: 50%;
  }
  .container-right {
    justify-content: center;
    align-items: center;
  }
  .container-left {
    justify-content: center;
    align-items: center;
  }
}
