.container__page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0px 20px 0px;
  }
.container__table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 20px;
    overflow-x: hidden;
    padding: 10px;
  }

  .container__table--title{
    font-size: larger;
    font-weight: bold;
    padding: 10px 0px 20px 0px;
  }

.container__page--dropdowns{
    justify-items: center;
  margin: 10px 0px 0px 0px;
  display: grid;
  width: 700px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)) !important;
  gap: 60px;
}
.container__page--info{
    margin: 20px 0px 10px 0px;
}

.img__add{
  height: 24px;
  width: 24px;
}
.centered-data {
  text-align: center;
  padding: 2px 5px 0px 5px ;
  border-bottom: dotted 1px ;
}
