* {
  margin: 0;
  padding: 0;
  /* El valor 62.5% es para establecer la variable rem, de esta manera
  10px = 1rem
  15px = 1.5rem
  20px = 2rem
   */
  /* font-size: 62.5%;  */
  font-family: sans-serif;
  box-sizing: border-box;
}

:root{
  --colorMC-Pink : #F25E5E ;
  --colorMC-BlueDark: #426A8C;
  --colorMC-BlueLigth: #45718C ;
  --colorMC-BackgroundLight : White;
  --colorMC-BackgroundDark: Black;
}

html{
  height: 100%;
}

body{
  min-height: 100vh;
}

.container__app{
  background-color: var(--colorMC-BackgroundLight);
  height: 100vh;
}



.container__app--Dark{
  background-color: var(--colorMC-BackgroundDark);
  height: 100vh;
}



.apologize{
  width: 1000px;
  padding: 80px 20px;
  display: flex;
  margin: 0 auto;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  color: #F25E5E;
}

@media screen and (max-width: 712px){
  
  
.container__app{
  width: 90%;
  max-width: 712px;
  margin: auto;
  overflow: hidden;
  overflow-y: auto;
}

}




/*-----------------------------------------------------------------

                                              CONFIG PAGES

*/
.page__flex{
  display: flex;
  align-items: center;
  padding: 20px;
}
.dir__col{
  flex-direction: column;
}

.dir__row{
  flex-direction: row;
}

.es{
  font-weight: bold;
  color: #F25E5E;
}
.en{
  font-weight: bold;
  color: #426A8C;
}

.page__paragraph--center{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin: 30px 0px 20px 0px;
}
.checkbox__option{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.checkbox{
  display: block;
  padding: 2px 10px 2px 10px;
}




/*#############################################################################

                                                  RESPONSIVE
    

*/


@media print {

  header, nav, footer {
    display: none;
    }
  .container__title{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: #F25E5E 0.5px solid;
    /* margin: 10px 0px 30px 0px; */
    width: 100%;
  }
  .container__table-center table, td{
    border: 1px solid;
    /* border-collapse: collapse; */
  }
}


@page {
  margin: 0.5cm;
  }
  